CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_LOCAL_TARBALLS_DIR="${TARBALLDIR}"
CT_PREFIX_DIR="${INSTALLDIR}/${CT_TARGET}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_REMOVE_DOCS is not set
CT_BUILD_MANUALS=y
# CT_PREFIX_DIR_RO is not set
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a9"
CT_ARCH_SUFFIX="v7_a38x"
CT_ARCH_FPU="neon-vfpv3"
CT_ARCH_FLOAT_HW=y
CT_TARGET_CFLAGS="-O2 -D_FORTIFY_SOURCE=2 -fstack-protector-strong"
CT_TARGET_LDFLAGS="-O2 -Wl,-z,relro -Wl,-z,now -Wl,-z,noexecstack -Wl,-z,combreloc"
# CT_SHOW_CT_VERSION is not set
CT_TOOLCHAIN_PKGVERSION="xtchain-1.0"
CT_TARGET_VENDOR="xtchain"
CT_TOOLCHAIN_ENABLE_NLS=y
CT_KERNEL_LINUX=y
CT_LINUX_SRC_CUSTOM=y
CT_LINUX_CUSTOM_LOCATION="${TARBALLDIR}/linux-5.10.23.tar.xz"
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_RELRO=y
CT_BINUTILS_FOR_TARGET=y
CT_LIBC_GLIBC=y
CT_GLIBC_USE_LIBIDN_ADDON=y
CT_GLIBC_EXTRA_CONFIG_ARRAY="--disable-multi-arch --disable-build-nscd --disable-nscd --enable-bind-now --enable-stackguard-randomization --enable-static-pie"
# CT_GLIBC_ENABLE_OBSOLETE_RPC is not set
CT_GLIBC_ENABLE_FORTIFIED_BUILD=y
CT_GLIBC_SSP_STRONG=y
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--with-mode=arm --disable-multilib --disable-multiarch --enable-default-pie --enable-default-ssp"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--with-mode=arm --disable-multilib --disable-multiarch --enable-default-pie --enable-default-ssp"
# CT_CC_GCC_STATIC_LIBSTDCXX is not set
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LIBMUDFLAP=y
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBSSP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS_PYTHON is not set
CT_GDB_NATIVE_STATIC_LIBSTDCXX=y
CT_COMP_LIBS_CLOOG=y
CT_COMP_LIBS_LIBELF=y
CT_COMP_TOOLS_FOR_HOST=y
# CT_COMP_TOOLS_AUTOMAKE is not set
